<!-- <template>
  <div>
    <div class="location-title">
      <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Air Jernih
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart" width="200" height="200"></canvas>
          <div class="item-name">
            <span>Babi Goreng</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
      </div>
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart2" width="200" height="200"></canvas>
          <div class="item-name">
            <span>Babi Goreng</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
      </div>
      <div class="col">
        <div class="chart-box">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
</template> -->
<script>
  export default {
    // created() {
    //   var ctx = document.getElementById("myChart");
    //   var myDoughnutChart = new Chart(ctx, {
    //     type: 'doughnut',
    //     data: {
    //       labels: ["Current Stock", "Max Stock"],
    //       datasets: [{
    //           data: [12, 19],
    //           backgroundColor: [
    //               '#c51162',
    //               '#02bfe0'
    //           ]
    //       }],
    //       borderColor: [
    //         '#000000',
    //         '#000000'
    //       ]
    //     },
    //     options: {
    //       responsive: false
    //     }
    //   });
    //
    //   var ctx2 = document.getElementById("myChart2");
    //   var myDoughnutChart = new Chart(ctx2, {
    //     type: 'doughnut',
    //     data: {
    //       labels: ["Current Stock", "Max Stock"],
    //       datasets: [{
    //           data: [12, 19],
    //           backgroundColor: [
    //               '#c51162',
    //               '#02bfe0'
    //           ]
    //       }],
    //       borderColor: [
    //         '#000000',
    //         '#000000'
    //       ]
    //     },
    //     options: {
    //       responsive: false
    //     }
    //   });
    // }
  }


</script>
