
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Righteous');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import "style/all";

body {
  background: #ffffff;

  &.login-background {
    background: #212121;
    // background: rgba(33, 33, 33, 0.9);
  }
}

.table-dark {
  background: #303030 !important;
}

.table-bordered {
  border: 1px solid rgba(0, 0, 0, 0.125);
  thead {
    tr {
      th {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
}
