.inventory-management-content {
  .title {
    margin-bottom: 35px;
    span {
      font-size: 2.5rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.8);
    }

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 0;
    }
  }

  .add-new-product {
    text-align: right;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1rem;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
