.default-content-style {
  padding: 1em;
  overflow-y: scroll;
  height: 94vh;
  background: rgba(33, 33, 33, 0.9);
}

.home-content {
  .location-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 35px;
  }

  .chart-box {
    background: #303030;
    padding: 2em 0;
    margin-bottom: 1em;

    canvas {
      padding: 0 4em;
      width: 100% !important;
    }

    .item-name {
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      margin-top: 10px;
    }
  }

  .staff-view {
    margin-top: 50px;
    text-align: center;
    text-align: -webkit-center;

    img {
      width: 30em;
      height: 14em;
    }

    .details {
      margin-top: 15px;
      color: #ffffff;
      span {
        &.location {
          font-size: 3.2rem;
          font-weight: bold;
        }

      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 12em;
        line-height: 1em;
        text-align: justify;
        text-justify: inter-word;
      }

    }
  }
}
