.inbox-content {
  .title {
    margin-bottom: 35px;
    span {
      font-size: 2.5rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.8);
    }

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 0;
    }
  }

  .unread {
    background: #212121;

    a {
      display: block;
      text-decoration: none;
      color: inherit;
      margin: -0.75em;
      padding: 0.75em;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.075);
    }
  }
}
