.login {
  padding: 2em;
  margin-top: 3em;
  text-align: center !important;

  .title {
    span {
      color: rgba(255 ,255 ,255 ,0.8);
      font-size: 3.5rem;
      font-weight: 500;
      font-family: $font-family;
    }

    hr {
      border-top: 5px solid rgba(255, 255, 255, 0.8);
      margin-top: -5px;
    }
  }
  .login-form {
    text-align: center;
    text-align: -webkit-center;
    margin-top: 7em;

    form {
      width: 25em;
      padding: 3em 2em 2em 2em;
      background: #f7f7f7;
      border: 1px solid #e2e2e2;
      box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.4);
      border-radius: 2%;

      .button-div {
        margin-top: 10px;

        button {
          width: 100%;
        }
      }
    }
  }
}
