.dashboard-nav {
  width: 5.5em;
  padding: 0;
  height: 94vh;
  background: #303030;

  .custom-list {

    .custom-title {
      text-align: center;
      font-weight: bold;
      span {
        &.manager {
          font-size: 1.2rem;
        }
      }
    }

    a {
      border-radius: 0 !important;
      background: #303030;
      color: rgba(255, 255, 255, 0.7);

      &:hover {
        background: #212121;
        color: #ffffff;
      }

      &.active {
        background: #212121;
        border-color: rgba(0, 0, 0, 0.125);
      }
    }

    li {
      border-radius: 0 !important;
      background: #212121;
      color: rgba(255, 255, 255, 0.9);
      border-top: none;
    }
  }
}
