.custom-navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #212121 !important;
  .custom-title {
    padding: 0.5em 2em 0.5em 1em;
    border-right: 1px solid #2d2d2d;
    font-family: $font-family;
    color: #00c4ce;

    &:hover {
      color: #00f2ff;
    }
  }
}
