.release-restock {
  .title {
    margin-bottom: 35px;
    span {
      font-size: 2.5rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.8);
    }

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 0;
    }
  }

  .content {
    form {
      margin-top: 50px;
      padding-left: 13em;
      padding-right: 13em;
      color: #ffffff;

      .button-div {
        text-align: right;
        margin-top: 25px;
        margin-bottom: 50px;
      }
    }
  }
}
