.submit-request {
  .title {
    margin-bottom: 35px;
    span {
      font-size: 2.5rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.8);
    }

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 0;
    }
  }

  .content {
    .selection-button {
      text-align: center;
      text-align: -webkit-center;

      .secondary {
        margin-left: 10px;
      }
    }
    .loader {
      display: none;
      margin-top: 13em;
      text-align: center;
      color: #ffffff;
    }
    form {
      margin-top: 50px;
      padding-left: 13em;
      padding-right: 13em;
      color: #ffffff;

      .title {
        margin-bottom: 25px;
        span {
          font-size: 1.3rem;
        }
      }

      .button-div {
        text-align: right;
        margin-top: 25px;
        margin-bottom: 50px;
      }
    }
  }
}
